div.ed-item.s-100.main-center
	h2 Redes Sociales
div.ed-item.s-100.main-distribute
	a.sociales(href="#"): i.fab.fa-facebook-square
	a.sociales(href="#"): i.fab.fa-twitter-square
	a.sociales(href="#"): i.fab.fa-youtube-square
	a.sociales(href="#"): i.fab.fa-instagram