extends template/template.jade

block main
	section.intro
		div.ed-item.s-100
			img.intro__img(src="img/inicio_1.jpg")
		div.ed-item.s-100
			p.intro__descripcion  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem. Ea, dignissimos, assumenda? Natus, aut, hic omnis mollitia aliquid recusandae excepturi deleniti vero tenetur nam facilis sit molestiae sed! Impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos blanditiis quaerat laborum voluptatibus expedita aperiam, magni voluptas, voluptate rerum veniam. Sequi aliquid nulla suscipit perspiciatis, voluptatum eveniet. Quam, perspiciatis fuga.
	section.intro
		div.ed-item.s-100
			img.intro__img(src="img/inicio_2.jpg")
		div.ed-item.s-100
			p.intro__descripcion  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem. Ea, dignissimos, assumenda? Natus, aut, hic omnis mollitia aliquid recusandae excepturi deleniti vero tenetur nam facilis sit molestiae sed! Impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos blanditiis quaerat laborum voluptatibus expedita aperiam, magni voluptas, voluptate rerum veniam. Sequi aliquid nulla suscipit perspiciatis, voluptatum eveniet. Quam, perspiciatis fuga.