include ../variables/variables.jade

<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Restaurant Chinchano
	link(href="css/ed-grid.css" rel="stylesheet")
	link(href="css/styles.css" rel="stylesheet")
	script(src="https://use.fontawesome.com/releases/v5.0.7/js/all.js" defer)
body.dev
	header#header.ed-container
		include ../blocks/header.jade
	nav#menu
		include ../blocks/menu.jade
	div.ed-container
		main.ed-item.s-100.ed-container
			block main
		aside.ed-item.s-100.ed-container
			include ../blocks/aside.jade
	footer.ed-container.full.main-center
		include ../blocks/footer.jade

	